{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>JAVASCRIPT</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam aperiam nulla aliquam, perspiciatis at
            repudiandae aliquid, labore autem vel nihil praesentium placeat possimus debitis nisi voluptatibus earum aut
            pariatur et?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img.jpg" alt="Carro" class="img-thumbnail">
    </div>
</div>
{{> footer}}